/*
button colors (prop {{color}}) :
green, blue, red, yellow
*/

.dialog-button-container {
    padding: 2px;
    border-left: #FFFFFF22 solid 2px;
    border-top: #FFFFFF22 solid 2px;
    border-right: #FFFFFF11 solid 1px;
    border-radius: 6px;
    border-bottom: #FFFFFF11 solid 1px;
    display: block;
}

.dialog-button {
    font-family: 'vonique';
    display: inline-block;
    height: 100%;
    line-height: 100%;
    padding-top: 0.8em;
    padding-bottom: 0.3em;
    box-sizing: border-box;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border-left: #FFFFFF77 solid 1px;
    border-top: #FFFFFF77 solid 1px;
    border: #FFFFFF44 solid 1px;
    border-radius: 6px;
    font-size: 22px;
    cursor: pointer;
    background: black;
}

.dialog-button-small {
    background: #FF000050;
    padding: 0px !important;
    line-height: unset;
    width: 28px;
    height: 26px;
    font-size: 14px !important;
    padding-top: 4px !important;
}

.dialog-button-small-container {
    padding: 0px !important;
    padding-bottom: 0.0em !important;
    display: flex !important;
    margin-top: 2px;
    margin-right: 4px;
}

.dialog-button.button-color-green {
    text-shadow:
        0 0 4px #49FF1855,
        0 0 6px #49FF1855,
        0 0 8px #49FF1855,
        0 0 10px #49FF1855,
        0 0 20px #49FF1855,
        0 0 20px #49FF1833
}

.dialog-button.button-color-blue {
    text-shadow:
        0 0 4px #00bfff55,
        0 0 6px #00bfff55,
        0 0 8px #00bfff55,
        0 0 10px #00bfff55,
        0 0 20px #00bfff55,
        0 0 20px #00bfff55,
        0 0 20px #00bfff55
}

.dialog-button.button-color-red {
    text-shadow:
        0 0 4px #ff223355,
        0 0 6px #ff223355,
        0 0 8px #ff223355,
        0 0 10px #ff223355,
        0 0 20px #ff223333
}

.dialog-button.button-color-yellow {
    text-shadow:
        0 0 4px #ffFF3355,
        0 0 6px #ffFF3355,
        0 0 8px #ffFF3355,
        0 0 10px #ffFF3355,
        0 0 20px #ffFF3333
}

.dialog-button-container.button-color-green {
    background: linear-gradient(0deg, black -40%, #90ee9050 100%);
}

.button-color-green.dialog-button:hover {
    backdrop-filter: invert(1);
    box-shadow:
        0 0 5px #FFFFFF88,
        0 0 0px #FFFFFF88,
        0 0 2px #FFFFFF88,
        0 0 4px #49FF1888,
        0 0 6px #49FF1888,
        0 0 8px #49FF1888,
        0 0 10px #49FF1888,
        -8px -8px 20px 0px #49FF1888;

    text-shadow:
        0px 0px 10px #49FF18ff,
        0px 0px 20px #49FF18ff,
        0px 0px 20px #49FF18ff,
        0px 0px 50px #49FF18FF;
}

.dialog-button-container.button-color-blue {
    background: linear-gradient(0deg, black -40%, #2196F350 100%);
}

.button-color-blue.dialog-button:hover {
    backdrop-filter: invert(1);
    box-shadow:
        0 0 5px #FFFFFF88,
        0 0 0px #FFFFFF88,
        0 0 2px #FFFFFF88,
        0 0 4px #00bfff88,
        0 0 6px #00bfff88,
        0 0 8px #00bfff88,
        0 0 10px #00bfff88,
        -8px -8px 20px 0px #00bfff88;

    text-shadow:
        0px 0px 10px #00bfffFF,
        0px 0px 20px #00bfffFF,
        0px 0px 20px #00bfffFF,
        0px 0px 50px #00bfffff;
}

.dialog-button-container.button-color-red {
    background: linear-gradient(0deg, black -40%, #F3062150 100%);
}

.button-color-red.dialog-button:hover {
    backdrop-filter: invert(1);
    box-shadow:
        0 0 5px #FFFFFF88,
        0 0 0px #FFFFFF88,
        0 0 2px #FFFFFF88,
        0 0 4px #ff223388,
        0 0 6px #ff223388,
        0 0 8px #ff223388,
        0 0 10px #ff223388,
        -8px -8px 20px 0px #ff223388;

    text-shadow:
        0px 0px 10px #ff2233FF,
        0px 0px 20px #ff2233FF,
        0px 0px 20px #ff2233FF,
        0px 0px 50px #ff223388;
}

.dialog-button-container.button-color-yellow {
    background: linear-gradient(0deg, black -40%, #F3E62150 100%);
}

.button-color-yellow.dialog-button:hover {
    backdrop-filter: invert(1);
    box-shadow:
        0 0 5px #FFFFFF88,
        0 0 0px #FFFFFF88,
        0 0 2px #FFFFFF88,
        0 0 4px #ffE03388,
        0 0 6px #ffE03388,
        0 0 8px #ffE03388,
        0 0 10px #ffE03388,
        -8px -8px 20px 0px #ffE03388;

    text-shadow:
        0px 0px 10px #ffE033FF,
        0px 0px 20px #ffE033FF,
        0px 0px 20px #ffE033FF,
        0px 0px 50px #ffE03388;
}