{{frame-radius:default=0.2em=}}

.dialog-container {
    position: absolute;
    z-index: 20;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    align-content: center;
    justify-items: center;
    pointer-events: none;
}

.dialog-wrapper {
    position: absolute;
    z-index: 20;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    pointer-events: none;
}

.dialog {
    font-size: 24px;
    background: #000000FF;
    color: white;
    min-width: 24em;
    min-height: 12em;
    display: grid;
    align-items: center;
    grid-template-rows: 2.2em auto 2.5em;
    position: absolute;
    z-index: 20;
    pointer-events: all;
    box-shadow: 2px 6px 20px 5px #000000EE;
    border: none;
    /*outline: #EEEEFF33 solid 1px;*/
    /*outline: #0ed0ff66 solid 1px;*/
    /*outline: #52738F77 solid 2px;*/
    outline: #59b3ff88 solid 2px;
    border-radius: {{frame-radius}};
}

.dialog-content-background {
    background: #00000088;
    grid-row: 1 / 4;
    height: 100%;
    grid-column: 1;
}

.dialog-frame {
    border: black solid 2px;
    grid-template-rows: auto;
    display: grid;
    box-shadow: 2px 6px 15px 5px #000000AA;
    border-radius: {{frame-radius}};
}

.dialog-title-bar {
    padding: 0.2em;
    font-family: 'bacereg';
    font-weight: bold;
    grid-row: 1;
    border-bottom: #3f51b5DD solid 1px;
    border-left: #3f51b5DD solid 1px;
    border-top: #6f81E5EE solid 1px;
    display: grid;
    grid-template-columns: min-content auto min-content;
    padding-bottom: 0px;
    padding-top: 0.4em;
    border-top-left-radius: {{frame-radius}};
    border-top-right-radius: {{frame-radius}};
}

.dialog-title-bar-background {
    background: linear-gradient(283deg, rgb(0 0 0 / 0%) 5%, #3F51B5 100%);
    border-top-left-radius: {{frame-radius}};
    border-top-right-radius: {{frame-radius}};
}

.dialog-title-bar-container {
    background: #080c1c;
    grid-row: 1;
    grid-column: 1;
    border-radius: {{frame-radius}} {{frame-radius}} 0em 0em;                                             
}

.dialog-content {
    font-family: 'comicn';
    grid-row: 2;
    font-size: 32px;
    margin: 36px;
    grid-row: 2;
    grid-column: 1;
}

.dialog-button-bar {
    grid-row: 3;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: stretch;
    grid-gap: 1em;
    margin: 36px;
    margin-top: 0em;
    grid-row: 3;
    grid-column: 1;
}

.frame-icon-container {
    grid-column: 1;
    grid-row: 1;
    padding-left: 4px;
}

.frame-right-icon-container {
    grid-column: 3;
    grid-row: 1;
    padding-right: 4px;
}

.dialog-text-title {
    grid-column: 1 / 4;
    grid-row: 1;
    font-family: "vonique";
}

.dragging .dialog-title-bar {
    cursor: grabbing !important;
}

.dragging .dialog {
    background: #000000D0;
    backdrop-filter: blur(5px);
}

/* #region window electron */

body.window-fullscreen #button_win_maximize,
body.window-fullscreen #button_win_restore,
body.window-fullscreen #button_win_minimize,
body.window-fullscreen #button_win_close
{
    display: none;
}

body.window-maximized #button_win_restore {
    display: unset !important;
}

body.window-windowed #button_win_restore
{
    display: none;
}

body.window-windowed #button_win_maximize {
    display: unset;
}

body.window-maximized #button_win_maximize {
    display: none !important;
}

/* #endregion */

/* #region settings dialogs */

.settings-row-background {
    grid-column: 1 / span 2;
    background-color: #00000088;
    grid-row: 1;
}

.settings-row-background img {
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.settings-row, .settings-row-head {
    display: grid;
    grid-auto-columns: 5em auto;
    padding: 0px;
    vertical-align: middle;
}

.settings-row-head {
    text-align: left;
    grid-row: 1;
    grid-column: 1 / span 2;
    backdrop-filter: brightness(2);
    border: #FFFFFF22 outset 1px;
    border-radius: 6px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.settings-row {
    border-bottom: #1f6bc7FF outset 1px;
}

.settings-column-label,
.settings-column-head,
.settings-column-text {
    margin-top: auto;
    margin-bottom: auto;
}

.settings-column-label {
    grid-row: 1;
    grid-column: 1;
    text-align: right;
    border-right: #1f6bc7FF outset 1px;
    padding-right: 0.5em;
}

.settings-column-head {
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: left;
    padding-left: 0.5em;
}

.settings-column-text {
    grid-row: 1;
    grid-column: 2;
    text-align: left;
    padding-left: 1em;
}

/* #endregion */
    
/* #region transversals styles */

.dragging {
    cursor: grabbing;
}

/* #endregion */
