<!DOCTYPE html>
<html {{{page/html}}}>
<head>
    {{{page/head-metas}}}
    <meta name="description" content="{{(MoviesList)}} (test text include / lang) | {{app.name}} ({{app.id}}) github {{tpl.props.repoLink}}" />
    {{{page/head-links}}}

    <title>{{pageTitleList}} | {{subTitleList}}</title>

    {{{page/head-scripts}}}
    <script src="{{basePath}}js/data/data.js"></script>

    <script type="text/javascript">

        const props = {{props}};

        $(document).ready(() => {
            var o = new Template(true);
            o.buildItems(data);
            setupItemsLinkId();
            var ui = new UI()
            ui.setup();
        });

    </script>

    <style>
        body {
            background-image: url('{{basePath}}img/{{background}}');
        }
    </style>

</head>

<body class="movie-page-list prevent-select">

    {{{backgrounds/background-vignette}}}

    {{{page-list/navbar-top}}}

    {{{panels/navbar-bottom}}}

    <!-- movie list -->

    <div class="movie-list">

        {{{page-list/item-container}}}

    </div>

    <!-- dialogs -->

    {{{page-list/dialogs/movie-list-settings(id=movie-list-settings)}}}

</body>

</html>