<!-- top nav bar (page list) -->

<div class="movie-page-top-nav-container">

    <div class="top-nav-container-grid">

        <div class="top-nav-container-left">
            <span class="nav-text"></span>
        </div>

        <div class="top-nav-container-middle">
            <div class="movie-page-list-title">{{titleList}} : {{subTitleList}}</div>
        </div>

        <div class="top-nav-container-right">
            <span class="nav-text"></span>
        </div>

        <div class="top-nav-container-right">
            <span class="nav-text"></span>
        </div>

    </div>
</div>