<div class="movie-list-item"
     data-attr-key="{{key}}"
     data-attr-id="{{id}}">

    <table width="100%">
        <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td width="100%" class="cell-title">
                            <span class="title">{{title}}</span>
                            <br />
                            <span class="interests text">{{interests}}</span>
                        </td>
                        <td>
                            <div class="rating-container">
                                <span class="rating text">{{rating}}</span> / <span class="ratingCount text">{{ratingCount}}</span>
                            </div>
                        </td>
                        <td>
                            <span class="year text">{{year}}</span>
                        </td>
                    </tr>
                </table>

                <table width="100%">
                    <tr>
                        <td>
                            <span class="label label-director">director: </span>
                            <span class="director text">{{director}}</span>
                            <span class="label label-actors">actors: </span>
                            <span class="actors text">{{actors}}</span>
                            <div class="vsep"></div>
                            <span class="label label-duration">duration: </span>
                            <span class="duration text">{{duration}}</span>
                            <span class="label label-releaseDate">release date: </span>
                            <span class="releaseDate text">{{releaseDate}}</span>
                            <span class="label label-source">page: </span>
                            <a class="url" href="{{url}}">{{url}}</a>
                        </td>
                    </tr>
                </table>

                <table width="100%">
                    <tr>
                        <td>
                            <div>
                                <span class="label label-summary">summary: </span>
                            </div>
                            <span class="summary text">{{summary}}</span>
                        </td>
                    </tr>
                    <!--
                        <tr>
                            <td>
                                <div>
                                    <span class="label label-anecdotes">anecdotes: </span>
                                </div>
                                <span class="anecdotes">{{anecdotes}}</span>
                            </td>
                        </tr>
                    -->
                </table>
            </td>

            <td class="movie-pic-container">
                <img src="https://m.media-amazon.com/images/M/MV5BZWQ3NjAyZWUtMzMxMS00MzE1LTlkNDMtZGNjNGY2MzBkNjQ3XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_QL75_UY281_CR1,0,190,281_.jpg" />
                <!-- {{minPicUrl}} -->
            </td>
        </tr>
    </table>

</div>
