<div class="movie-list-item" data-attr-key="{{key}}">

    <div class="title">{{title}}</div>
    <div class="director">{{director}}</div>
    <div class="url">{{url}}</div>
    <div class="vote">{{vote}}</div>
    <div class="rating">{{rating}}</div>
    <div class="rating">{{rating}}</div>
    <div class="ratingCount">{{ratingCount}}</div>
    <div class="duration">{{duration}}</div>
    <div class="releaseDate">{{releaseDate}}</div>
    <div class="year">{{year}}</div>
    <div class="summary">{{summary}}</div>
    <div class="anectodes">{{anectodes}}</div>
</div>