<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Movies</title>

    <link rel="icon" type="image/ico" href="../img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

    <!-- init -->
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/template.js"></script>
    <script type="text/javascript">
        const data = {{data}};

        const props = {{props}};

        Object.assign(data, props);
        window.vda = { data, props };

        addBackImgLoadedHandler('{{background}}');
        
        $(document).ready(() => {
            var o = new Template();
            o.buildDetails(data);
        });
    </script>
    <!-- ----- -->
</head>

<body class="movie-page-detail">

    <div class="movie-page-detail-background-container">
        <img id="Image_Background" class="hidden" src="" alt="background pic" />
    </div>

    <div class="movie-page-detail-background-container vignette vignette2">
    </div>

    <div class="movie-page-detail-content-container">

        <div class="movie-page-nav-container">
            <a href="{{HomeLink}}">
                <img src="../img/house.png" alt="icon home" class="nav-icon margin-right-double" />
            </a>
            <a href="{{previousLink}}" class="if-previousLink">
                <img src="../img/left-arrow.png" alt="previous movie" class="nav-icon if-previousLink" />
            </a>
            <a href="{{nextLink}}" class="if-nextLink">
                <img src="../img/left-arrow.png" alt="next movie" class="nav-icon mirror-h if-nextLink" />
            </a>
        </div>

        <div class="movie-list">

            <div class="movie-list-item-container" id="ItemModel">

                <div class="movie-list-item"
                     data-attr-key="{{key}}"
                     data-attr-id="{{id}}">

                    <table width="100%">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td width="100%" class="cell-title">
                                            <span class="title if-title">{{title}}</span>
                                            <br />
                                            <span class="interests text if-interests">{{interests}}</span>
                                        </td>
                                        <td>
                                            <div class="rating-container if-rating if-ratingCount">
                                                <span class="rating text if-rating">{{rating}}</span> / <span class="ratingCount text if-ratingCount">{{ratingCount}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="year text if-year">{{year}}</span>
                                        </td>
                                    </tr>
                                </table>

                                <table width="100%">
                                    <tr>
                                        <td>
                                            <span class="label label-director if-director">director: </span>
                                            <span class="director text if-director">{{director}}</span>
                                            <span class="cell-int label label-stars if-stars">stars: </span>
                                            <span class="stars text if-stars">{{stars}}</span>
                                            <div class="vsep"></div>
                                            <span class="label label-duration if-duration">duration: </span>
                                            <span class="duration text if-duration">{{duration}}</span>
                                            <span class="cell-int label label-releaseDate if-releaseDate">release date: </span>
                                            <span class="releaseDate text if-releaseDate">{{releaseDate}}</span>
                                            <br>
                                            <span class="label label-source if-url">page: </span>
                                            <a class="url if-url" href="{{url}}">{{url}}</a>
                                        </td>
                                    </tr>
                                </table>

                                <table width="100%">
                                    <tr>
                                        <td>
                                            <div>
                                                <span class="label label-actors">actors: </span>
                                            </div>
                                            <span class="actors text">{{actors}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <span class="label label-summary">summary: </span>
                                            </div>
                                            <span class="summary text">{{summary}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <span class="label label-anecdotes">anecdotes: </span>
                                            </div>
                                            <span class="anecdotes text">{{anecdotes}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                            <td class="movie-pic-container" valign="top">
                                <img src="{{medPicUrl}}" />
                            </td>
                        </tr>
                        </
                    </table>

                </div>

            </div>
        </div>

    </div>

</body>

</html>