<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Movies</title>

    <link rel="icon" type="image/ico" href="./img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />

    <!-- init -->
    <script src="./js/jquery-3.7.1.min.js"></script>
    <script src="./js/template.js"></script>
    <script src="./js/data.js"></script>
    <script type="text/javascript">

        const props = {{props}};

        $(document).ready(() => {
            var o = new Template();
            o.buildItems(data);
        });
    </script>
    <!--  -->
    <style>
        body {
            background-image: url('./img/{{background}}');
        }
    </style>
    <!-- ----- -->
</head>

<body class="movie-page-list">

    <div class="movie-page-list-title">My Movies</div>

    <div class="movie-list">

        <div class="movie-list-item-container hidden" id="ItemModel">

            <div class="movie-list-item" 
                 data-attr-key="{{key}}"
                 data-attr-id="{{id}}">

                <table width="100%">
                    <tr>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td width="100%" class="cell-title">
                                        <span class="title if-title">{{title}}</span>
                                        <br />
                                        <span class="interests text if-interests">{{interests}}</span>
                                        <br />
                                        <span class="summary text if-summary">{{summary}}</span>
                                    </td>
                                    <td>
                                        <div class="rating-container if-rating if-ratingCount">
                                            <span class="rating text if-rating">{{rating}}</span> / <span class="ratingCount text if-ratingCount">{{ratingCount}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="year text if-year">{{year}}</span>
                                    </td>
                                </tr>
                            </table>

                            <table width="100%">
                                <tr>
                                    <td>
                                        <div class="vsep"></div>
                                        <span class="label label-director if-director">director: </span>
                                        <span class="director text if-director">{{director}}</span>
                                        <span class="cell-int label label-stars if-stars">stars: </span>
                                        <span class="stars text if-stars">{{stars}}</span>
                                        <div class="vsep"></div>
                                        <span class="label label-duration if-duration">duration: </span>
                                        <span class="duration text if-duration">{{duration}}</span>
                                        <span class="cell-int label label-releaseDate if-releaseDate">release date: </span>
                                        <span class="releaseDate text if-releaseDate">{{releaseDate}}</span>
                                        <span class="cell-int label label-source if-url">page: </span>
                                        <a class="url if-url" href="{{url}}">{{url}}</a>
                                    </td>
                                </tr>
                            </table>
                            <!--
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div>
                                            <span class="label label-summary if-summary">summary: </span>
                                        </div>
                                        <span class="summary text if-summary">{{summary}}</span>
                                    </td>
                                </tr>
                            </table>    
                            -->
                        </td>

                        <td class="movie-pic-container" valign="top">
                            <img src="{{minPicUrl}}" />
                        </td>
                    </tr>
                </table>

            </div>

        </div>
    
    </div>

</body>

</html>