<!DOCTYPE html>
<html lang="{{lang}}"
      data-template-id="{{templateId}}"
      data-template-version="{{templateVersion}}"
      data-template-version-date="{{templateVersionDate}}"
      data-software="{{software}}"
      data-software-id="{{softwareId}}"
      data-software-version="{{softwareVersion}}"
      data-software-version-date="{{softwareVersionDate}}"
      data-built-at="{{builtAt}}"
      >
<head>
    <title>{{pageTitleList}} | {{subTitleList}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/ico" href="./img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />

    <link rel="help" href="{{linkHelp}}" />
    <link rel="author" href="{{linkAuthor}}" />
    <meta name="description" content="Movies List | {{software}} ({{softwareId}}) github {{linkRepo}}" />

    <!-- init -->
    <script src="./js/jquery-3.7.1.min.js"></script>
    <script src="./js/template.js"></script>
    <script src="./js/data.js"></script>
    <script type="text/javascript">

        const props = {{props}};

        $(document).ready(() => {
            var o = new Template(true);
            o.buildItems(data);
            setupItemsLinkId();
        });

    </script>
    <!--  -->
    <style>
        body {
            background-image: url('./img/{{background}}');
        }
    </style>
    <!-- -->
</head>

<body class="movie-page-list">

    <div class="movie-page-detail-background-container vignette vignette2">
    </div>

    <div class="movie-page-list-title">{{titleList}} : {{subTitleList}}</div>

    <div class="movie-list">

        <div class="movie-list-item-container hidden" id="ItemModel">

            <a name="{{key}}"></a>

            <div class="movie-list-item-background">

                <div class="movie-list-item"
                        data-attr-key="{{key}}"
                        data-attr-id="{{id}}">

                    <table width="100%">
                        <tr>
                            <td class="no-padding-right">
                                <table width="100%">
                                    <tr>
                                        <td width="100%" class="cell-title" valign="top">
                                            <span class="title if-title">{{title}}</span>
                                            <br />
                                            <span class="interests text if-interests">{{interests}}</span>
                                            <br />
                                            <span class="summary text if-summary">{{summary}}</span>
                                        </td>                                        

                                        <td valign="top" class="cell-rating-year grid no-padding-right min-width-8em">

                                            <div class="cell1_1 nowrap text-align-right">
                                                <div class="rating-container if-rating if-ratingCount">
                                                    <span class="rating text if-rating">{{rating}}</span>
                                                    <span class="rating-sep if-rating if-ratingCount">/</span>
                                                    <span class="ratingCount text if-ratingCount">{{ratingCount}}</span>
                                                </div>

                                                <span class="year text if-year padding-left text-align-right">{{year}}</span>
                                            </div>

                                            <div class="cell1_1 sources">
                                                <img data-href="{{sources.play}}" data-target="movie_download" src="./img/play.png" class="nav-icon play-icon if-sources-play" />
                                                <img data-href="{{sources.download}}" src="./img/download.png" class="nav-icon download-icon no-margin-right if-sources-download" />
                                            </div>

                                        </td>
                                    </tr>
                                </table>

                                <table width="100%">
                                    <tr>
                                        <td valign="top">
                                            <div class="vsep"></div>
                                            <span class="label label-stars if-stars">stars: </span>
                                            <span class="stars text if-stars">{{stars}}</span>
                                            <span class="hsep if-stars"></span>
                                            <span class="label label-director if-director">director: </span>
                                            <span class="director text if-director">{{director}}</span>
                                            <div class="vsep"></div>
                                            <span class="label label-duration if-duration">duration: </span>
                                            <span class="duration text if-duration">{{duration}}</span>
                                            <span class="cell-int label label-releaseDate if-releaseDate">release date: </span>
                                            <span class="releaseDate text if-releaseDate">{{releaseDate}}</span>
                                            <span class="cell-int label label-source if-url">page: </span>
                                            <a class="url if-url" href="{{url}}">{{url}}</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                            <td class="movie-pic-container" valign="top">
                                <img src="{{minPicUrl}}" class="alternate-pic-list"/>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        
        </div>            
        
    </div>

</body>

</html>