<!DOCTYPE html>
<html lang="{{lang}}"
      data-template-id="{{templateId}}"
      data-template-version="{{templateVersion}}"
      data-template-version-date="{{templateVersionDate}}"
      data-software="{{software}}"
      data-software-id="{{softwareId}}"
      data-software-version="{{softwareVersion}}"
      data-software-version-date="{{softwareVersionDate}}"
      data-built-at="{{builtAt}}"
      >
<head>
    <title>{{pageTitleDetails}} : {{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/ico" href="../img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

    <link rel="help" href="{{linkHelp}}" />
    <link rel="author" href="{{linkAuthor}}" />
    <meta name="description" content="{{title}} | Movie details | {{software}} ({{softwareId}}) github {{linkRepo}}" />

    <!-- init -->
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/template.js"></script>
    <script type="text/javascript">

        const data = {{data}};

        const props = {{props}};

        Object.assign(data, props);
        window.vda = { data, props };

        $(document).ready(() => {
            var o = new Template();
            o.buildDetails(data);
            addBackImgLoadedHandler('{{background}}');
        });

    </script>
    <style>
        .image-background-idle {
            background-image: url('{{backgroundIdle}}');
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <!-- -->
</head>

<body class="movie-page-detail">

    <div class="movie-page-detail-background-container">
        <img id="Image_Background" class="hidden" src="" alt="background pic" />
    </div>

    <div class="movie-page-detail-background-container vignette vignette2">
    </div>

    <div id="Image_BackgroundIdle"
         class="movie-page-detail-background-idle-container image-background-idle">
    </div>

    <div class="movie-page-detail-content-container">

        <div class="movie-page-nav-container">
            <a href="{{movies.home}}">
                <img src="../img/house.png" alt="icon home" class="nav-icon margin-right-double" />
            </a>
            <a href="{{movies.previous}}" class="if-movies-previous">
                <img src="../img/left-arrow.png" alt="previous movie" class="nav-icon if-previousLink" />
            </a>
            <a href="{{movies.next}}" class="if-movies-next">
                <img src="../img/left-arrow.png" alt="next movie" class="nav-icon mirror-h if-nextLink" />
            </a>
            <span class="nav-counters">{{movies.index}} / {{movies.total}}</span>
        </div>

        <div class="movie-list">

            <div class="movie-list-item-container" id="ItemModel">

                <div class="movie-list-item"
                     data-attr-key="{{key}}"
                     data-attr-id="{{id}}">

                    <table width="100%">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td width="100%" class="cell-title">
                                            <span class="title if-title">{{title}}</span>
                                            <br />
                                            <span class="interests text if-interests">{{interests}}</span>
                                        </td>

                                        <td valign="top" class="cell-rating-year grid no-padding-right min-width-8em">

                                            <div class="cell1_1 nowrap text-align-right">
                                                <div class="rating-container if-rating if-ratingCount">
                                                    <span class="rating text if-rating">{{rating}}</span>
                                                    <span class="rating-sep if-rating if-ratingCount">/</span>
                                                    <span class="ratingCount text if-ratingCount">{{ratingCount}}</span>
                                                </div>

                                                <span class="year text if-year padding-left text-align-right">{{year}}</span>
                                            </div>

                                            <div class="cell1_1 sources">
                                                <a href="{{sources.play}}" target="movie_download" class="if-sources-play nav-link">
                                                    <img src="../img/play.png" class="nav-icon play-icon" />
                                                </a>
                                                <a href="{{sources.download}}" class="nav-link if-sources-download">
                                                    <img src="../img/download.png" class="nav-icon download-icon no-margin-right" />
                                                </a>
                                            </div>

                                        </td>
                                    </tr>
                                </table>

                                <table width="100%">
                                    <tr>
                                        <td>
                                            <span class="label label-director if-director">director: </span>
                                            <span class="director text if-director">{{director}}</span>
                                            <span class="cell-int label label-stars if-stars">stars: </span>
                                            <span class="stars text if-stars">{{stars}}</span>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <span class="summary text if-summary">{{summary}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="label label-duration if-duration">duration: </span>
                                            <span class="duration text if-duration">{{duration}}</span>
                                            <span class="cell-int label label-releaseDate if-releaseDate">release date: </span>
                                            <span class="releaseDate text if-releaseDate">{{releaseDate}}</span>
                                            <br>
                                            <span class="label label-source if-url">page: </span>
                                            <a class="url if-url" href="{{url}}">{{url}}</a>
                                        </td>
                                    </tr>
                                </table>

                                <table width="100%">
                                    <tr>
                                        <td class="no-padding-bottom">
                                            <div>
                                                <span class="label label-actors if-actors">actors: </span>
                                            </div>
                                            <span class="actors text if-actors">{{actors}}</span>
                                        </td>
                                    </tr>
                                </table>

                            </td>

                            <td class="movie-pic-container" valign="top">
                                <img src="{{medPicUrl}}" />
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" class="cell-external">
                                <div>
                                    <span class="label label-anecdotes if-anecdotes">anecdotes: </span>
                                </div>
                                <span class="anecdotes text if-anecdotes">{{anecdotes}}</span>
                            </td>
                        </tr>

                    </table>

                </div>

            </div>
        
        </div>

    </div>

</body>

</html>