<!DOCTYPE html>
<html {{{page/html}}}>
<head>
    {{{page/head-metas}}}
    <meta name="description" content="{{(MoviesList)}} (test text include / lang) | {{app.name}} ({{app.id}}) github {{tpl.props.repoLink}}" />
    {{{page/head-links}}}

    <title>{{page.title}} | {{page.subTitle}}</title>

    {{{page/head-scripts}}}
    <!-- page data -->
    <script src="{{basePath}}js/data/data.js"></script>

    <script type="text/javascript">

        // properties
        const props = {{props}}
        // bootstrap template engine
        const tpl = new Template()
        const layout = new UILayout()
        const ui = new UI()
        ui.init()

        $(document).ready(() => {
            // run tpl engine
            tpl.buildItems(data)
            layout.onPicLoaded = () => layout.showList()
            layout.postSetup()
            ui.setup();
        });

    </script>

    <style>
        body {
            background-image: url('{{basePath}}img/movie-page-list-wallpapers/{{page.background}}');
        }
    </style>

</head>

<body class="movie-page-list prevent-select">

    <script type="text/javascript">
        // setup body
        _ui().beforeLoadSetup()
    </script>

    {{{backgrounds/background-vignette}}}

    {{{page-list/navbar-top}}}

    {{{page/app-region}}}

    {{{panels/navbar-bottom}}}

    <!-- movie list -->

    <div class="movie-list vertical-scroll" style="display:none">

        {{{page-list/item-container}}}

    </div>

    <!-- dialogs -->

    {{{page-list/dialogs/movie-list-settings(id=movie-list-settings)}}}

    <script type="text/javascript">
        // setup end body
        _layout().enableGlobalWidgets()
    </script>

</body>

</html>
