<!DOCTYPE html>
<html {{{page/html}}}>
<head>
    {{{page/head-metas}}}
    <meta name="description" content="{{title}} | Movie details | {{app.name}} ({{app.id}}) github {{tpl.props.repoLink}}" />
    {{{page/head-links}}}

    <title>{{page.title}} : {{title}}</title>
    {{{page/head-scripts}}}

    <script type="text/javascript">

        // page data
        const data = {{data}}

        // properties
        const props = {{props}}

        Object.assign(data, props)

        // bootstrap template engine
        const tpl = new Template()
        const layout = new UILayout()
        const ui = new UI()
        ui.init()

        $(document).ready(() => {
            // run tpl engine
            tpl.buildDetails(data)
            layout.postSetup()
            layout.addBackImgLoadedHandler('{{page.background}}')
            ui.setup();
        });

    </script>
    
    <style>
        .image-background-idle {
            background-image: url('{{page.backgroundIdle}}');
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

</head>

<body class="movie-page-detail prevent-select">

    <script type="text/javascript">
        // setup body
        _ui().beforeLoadSetup()
    </script>

    {{{backgrounds/background-container}}}

    {{{backgrounds/background-vignette}}}

    {{{page/app-region}}}

    {{{backgrounds/background-idle}}}

    {{{page-details/navbar-top}}}

    {{{panels/navbar-bottom}}}

    {{{page-details/content-container}}}

    <!-- dialogs -->

    {{{page-details/dialogs/movie-details-settings(id=movie-details-settings)}}}

    <script type="text/javascript">
        // setup end body
        _layout().enableGlobalWidgets()
    </script>

</body>

</html>