.dialog-container {
    position: absolute;
    z-index: 20;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    align-content: center;
    justify-items: center;
    pointer-events: none;
}

.dialog-wrapper {
    position: absolute;
    z-index: 20;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    pointer-events: none;
}

.dialog {
    font-size: 24px;
    background: #000000FF;
    color: white;
    min-width: 24em;
    min-height: 12em;
    display: grid;
    border-radius: 1em;
    border: black solid 2px;
    align-items: center;
    grid-template-rows: 2.2em auto 3em;
    position: absolute;
    z-index: 20;
    pointer-events: all;
    box-shadow: 2px 6px 15px 5px #000000AA;
    border-right: #3f51b5FF solid 1px;
    border-left: #3f51b5FF solid 1px;
    border-top: #3f51b5FF solid 0.5px;
    border-bottom: #3f51b5FF solid 1px;
    /*backdrop-filter: blur(5px);*/
}

.dialog-title-bar {
    padding: 0.2em;
    font-family: 'bacereg';
    font-weight: bold;
    grid-row: 1;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: #3f51b5DD solid 1px;
    border-left: #3f51b5DD solid 1px;
    border-top: #6f81E5EE solid 1px;
    display: grid;
    grid-template-columns: min-content auto min-content;
    padding-bottom: 0px;
    padding-top: 0.4em;
}

.dialog-title-bar-background {
    background: linear-gradient(283deg, rgb(0 0 0 / 0%) 5%, #3F51B5 100%);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.dialog-title-bar-container {
    background: #080c1c;
    border-radius: 1em 1em 0em 0em;
}

.dialog-content {
    padding: 0.5em;
    font-family: 'comicn';
    grid-row: 2;
}

.dialog-button-bar {
    padding: 0.5em;
    grid-row: 3;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: stretch;
    grid-gap: 1em;
    padding-bottom: 1em;
}

.dialog-button {
    font-family: 'vonique';
    display: inline-block;
    height: 100%;
    line-height: 100%;
    padding-top: 0.8em;
    padding-bottom: 0.3em;
    box-sizing: border-box;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border-left: #FFFFFF77 solid 1px;
    border-top: #FFFFFF77 solid 1px;
    border: #FFFFFF44 solid 1px;
    border-radius: 6px;
    font-size: 22px;
    cursor: pointer;
    background: black;
    /*text-shadow: 0 0 5px #FFFFFF88, 0 0 0px #FFFFFF88, 0 0 2px #FFFFFF88, 0 0 4px #49ff1888, 0 0 6px #49FF1888, 0 0 8px #49FF1888, 0 0 10px #49FF1888, 0 0 20px #49ff1888;*/
    /*text-shadow: 0 0 5px #FFFFFF88, 0 0 0px #FFFFFF88, 0 0 2px #FFFFFF88, 0 0 4px #4918ff88, 0 0 6px #4918ff88, 0 0 8px #4918ff88, 0 0 10px #4918ff88, 0 0 20px #4918ff88;*/
    text-shadow: 0 0 5px #FFFFFF88, 0 0 0px #FFFFFF88, 0 0 2px #FFFFFF88, 0 0 4px #49ff1855, 0 0 6px #49FF1855, 0 0 8px #49FF1855, 0 0 10px #49FF1855, 0 0 20px #49ff1855;
}

.dialog-button-container {
    padding: 2px;
    border-left: #FFFFFF22 solid 2px;
    border-top: #FFFFFF22 solid 2px;
    border-right: #FFFFFF11 solid 1px;
    border-radius: 6px;
    border-bottom: #FFFFFF11 solid 1px;
    /*box-shadow: 0px 0px 8px 4px #FFFFFF11;*/
    /*background: #00000044;*/
    display: inline-block;
    background: linear-gradient(0deg, black -40%, #90ee9050 100%);
}

.dialog-button:hover {
    /* vegas */
    /* background: linear-gradient(360deg, rgba(0, 0, 0, 0) 5%, #3F51B5 100%);
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;*/
    
    box-shadow: 0 0 5px #FFFFFF88, 0 0 0px #FFFFFF88, 0 0 2px #FFFFFF88, 0 0 4px #49ff1888, 0 0 6px #49FF1888, 0 0 8px #49FF1888, 0 0 10px #49FF1888, 0 0 20px #49ff1888;
    text-shadow: 0 0 5px #FFFFFF88, 0 0 0px #FFFFFF88, 0 0 2px #FFFFFF88, 0 0 4px #49ff1888, 0 0 6px #49FF1888, 0 0 8px #49FF1888, 0 0 10px #49FF1888, 0 0 20px #49ff1888;
}

.frame-icon-container {
    grid-column: 1;
    grid-row: 1;
    padding-left: 4px;
}

.frame-right-icon-container {
    grid-column: 3;
    grid-row: 1;
    padding-right: 4px;
}

.dialog-text-title {
    grid-column: 1 / 4;
    grid-row: 1;
}

.dragging .dialog-title-bar {
    cursor: grabbing !important;
}

.dragging .dialog {
    background: #000000D0;
    backdrop-filter: blur(5px);
}

.frame-icon {
    filter: invert(100%);
    width: 36px;
    height: 36px;
    opacity: 90%;
    position: relative;
    top: -2px;
}

.frame-icon-clickable {
    cursor: pointer;
    pointer-events: none;
}

.frame-icon-clickable:hover {    
}

.icon-container-clickable {
    display:grid;
}

.icon-clickable-background {
    width: 28px;
    height: 28px;
    position: relative;
    left: 4px;
    top: 2px;
    filter: blur(5px);
}

.icon-clickable-background:hover {
    cursor: pointer;
}

.icon-clickable-background-red:hover {
    background: linear-gradient(0deg, black -50%, red 100%);
    cursor: pointer;
}

.icon-container-clickable > img,
.icon-container-clickable > div {
    grid-row: 1;
    grid-column: 1;
}

.icon-container-clickable:hover {

}

/* #region transversals styles */

.dragging {
    cursor: grabbing;
}

/* #endregion */
