body, html {    
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'playChickens';
    overflow: hidden;
}

body {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background: black;
}

a {
    color: cornflowerblue;
}

td {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.movie-list {
    overflow-y: auto;
    max-height: Calc(100% - 5.5em);
}

.movie-page-list-title {
    font-size: 48px;
    text-align: center;
    margin-top: 0.75em;
}

.movie-list-item-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2em;
    padding-top: 1em;
}

.movie-list-item {
    margin: 2em;
    background-color: #00000055;
    border-radius: 1em;
    border: black solid 1px;
}

.movie-pic-container {
    /* minPicUrl */
    width: 190px;
    padding-right:0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.movie-pic-container img {
    border-radius: 1em;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.movie-pic {

}

.title {
    font-size: 48px;
    font-family: 'quesha';
}

.cell-title {
    padding-bottom: 0em;
}

.label {
    font-family: 'quesha';
    font-size: 28px;
    font-weight: bold;
    color: #E0E0F0;
}

.text {
    color: #cdcded;
}

.interests {
    font-family: 'vonique';
}

.ratingCount, .year {
    color: white;
}

.year {
    font-weight: bold;
}

.rating-container {
    text-wrap: nowrap;
}

.rating {
    color: bisque;
}

.ratingCount {    
}

.vsep {
    height: 0.75em;
}

.hsep {
    display: inline-block;
    width:1em; 
}

@font-face {
    font-family: playChickens;
    src: url('../fonts/Play Chickens.ttf');
}

@font-face {
    font-family: quesha;
    src: url('../fonts/Quesha.ttf');
}

@font-face {
    font-family: vonique;
    src: url('../fonts/Vonique 92_D.otf');
}